<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12 shopinfo">
        <h4 class="title">COSMEJAPAN</h4>
        <p> Cosmejapan is the best plan where you can choice any product that you want with cheeper, better...</p>
        <p> Phosfluorescently extend highly efficient schemas with intermandated. </p>
      </div>
      <div class="col-sm-3 col-xs-12 footermenu">
        <h4 class="title">Information</h4>
        <ul>
          <li class="item"> <a href="index.htm#a">Delivery Info</a></li>
          <li class="item"> <a href="index.htm#a">FAQs</a></li>
          <li class="item"> <a href="index.htm#a">Payment Instructions</a></li>
          <li class="item"> <a href="index.htm#a">Request Product</a></li>
          <li class="item"> <a href="index.htm#a">Vendor Registration</a></li>
          <li class="item"> <a href="index.htm#a">Affiliates</a></li>
          <li class="item"> <a href="index.htm#a">Gift Vouchers</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12 footermenu">
        <h4 class="title">My account</h4>
        <ul>
          <li class="item"> <a href="index.htm#a">My Account</a></li>
          <li class="item"> <a href="index.htm#a">Order History</a></li>
          <li class="item"> <a href="index.htm#a">Wish List</a></li>
          <li class="item"> <a href="index.htm#a">Newsletter</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12 getintouch">
        <h4 class="title">get in touch</h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-map-marker fa-fw"></i></div>
            <div class="c-info"> <span>7th, Indochina<br>
              <a href="index.htm#a">Find us on map</a></span></div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope-o fa-fw"></i></div>
            <div class="c-info"> <span>Email Us At:<br>
              <a href="index.htm#a">cosmejapan@gmail.com</a></span></div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-phone fa-fw"></i></div>
            <div class="c-info"> <span>24/7 Phone Support:<br>
              <a href="index.htm#a">+1 (888) 888 8888</a></span></div>
          </li>
          <li>
            <div class="icon"> <i class="fa fa-skype fa-fw"></i></div>
            <div class="c-info"> <span>Talk to Us:<br>
              <a href="index.htm#a">skypeid: abc</a></span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-12"> <span class="copytxt">&copy; Copyright 2015 by <a href="index.htm">Cosmejapan</a> -  All rights reserved</span>
      </div>
    </div>
  </div>
</footer>
<!-- end: footer -->