<!DOCTYPE html>
<html>
  <head>
    <title>CosmeJapan-BEAUTYFUL ONLINE STORE</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=335579889978240&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>
  <!-- Header -->
  <header style="padding-top: 20px">

    <!-- Logo and Search -->
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-3 col-xs-12">
          <div class="logo"> <%= link_to "
            <div class='logoimage'><i class='fa fa-shopping-cart fa-fw'></i></div>
            <div class='logotext'><span><strong>CosmeJapan</strong></div>
            <span class='slogan'>ONLINE STORE</span>".html_safe, products_path, title: "CosmeJapan" %>
          </div>
        </div>
        <!-- end: logo -->
      </div>
    </div>
    <!-- end: Logo and Search -->
    <div class="f-space20"></div>
  </header>
  <!-- end: Header -->
  <!-- Products -->
  <div class="row clearfix f-space30"></div>
  <div class="container">
    <%= yield %>
  </div>
</div>
<!-- end: Products -->
<!-- Widgets -->
<!-- end: Widgets -->
<!-- footer -->
<footer>
<div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-12"> <span class="copytxt">&copy; Copyright 2015 by <a href="index.htm">Cosmejapan</a> -  All rights reserved</span>
      </div>
    </div>
  </div>
  </footer>
<!-- end: footer -->
<script>
$(document).ready(function(){
$('#get_category_id').select2({
placeholder: "Select your Market"
});
});
(function($) {
"use strict";
$('#menuMega').menu3d();
$('#iview').iView({
pauseTime: 10000,
pauseOnHover: true,
directionNavHoverOpacity: 0.6,
timer: "360Bar",
timerBg: '#2da5da',
timerColor: '#fff',
timerOpacity: 0.9,
timerDiameter: 20,
timerPadding: 1,
touchNav: true,
timerStroke: 2,
timerBarStrokeColor: '#fff'
});
$('.quickbox.htm').carousel({
interval: 10000
});
$('#monthly-deals').carousel({
interval: 3000
});
$('#productc2').carousel({
interval: 4000
});
$('#tweets').carousel({
interval: 5000
});
})(jQuery);
</script>
</body>
</html>