<!DOCTYPE html>
<html>
  <head>
    <title>CosmeJapan Administration</title>
    
    <%= stylesheet_link_tag "bootstrap", 'bootstrap.min', 'sd-admin', 'font-awesome' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Navigation -->
    <div class="container">
      <div id="wrapper">
        <div class="row">
          <div class="col-sm-12">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top nav-style"
              role="navigation" style="margin-bottom: 0;height: 80px;">
              <a class="navbar-brand brand" href="index.html" style="height: 80px;">
                <img src="/logo.png" class="logo" style="margin: -15px;">
              </a>
            </nav>
          </div>
          <div class="col-smd-12">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>