<div class="masthead">
  <nav>
    <ul class="nav nav-justified">
      <li class="active"><%= link_to "Account info" , { controller:"accounts", action:"show", id: session[:id] } %></li>
      <li><%= link_to  "Account seting", { controller:"accounts", action:"edit", id: session[:id] } %></li>
      <li><%= link_to "History Order", { controller:"orders", action:"index" } %></li>
    </ul>
  </nav>
</div>